{% extends "account/base.html" %}

{% load crispy_forms_filters %}

{% block title %}Вход{% endblock %}

{% block content %}
<h2>Вход</h2>
<form class="login add" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction btn btn-success" type="submit">Вход</button>
  <a class="btn btn-success" href="{% url 'account_signup' %}">Регистрация</a></li>
  <a class="btn btn-warning button secondaryAction" href="{% url 'account_reset_password' %}">Забыли пароль?</a>
</form>
{% endblock %}
